@media (min-width: 1201px) {
    .checkout {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .checkout {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .checkout {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
  .checkout {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
}

@media (min-width: 481px) and (max-width: 599px) {
  .checkout {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .checkout {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
}