@media(min-width: 1201px) {
  .find-a-retailer-parent {
    width: 100%;
    height: 20rem;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 8rem 0 0 0;

    .description {
      width: 30%;
      height: 4rem;
      font-size: 1.09rem;
      font-family: rubik, sans-serif;
      color: rgba(0, 0, 0, 0.74);
      margin: 0 0 0 3.4rem;
    }
  }

  .find-a-retailer-parent h1 {
    font-size: 4rem;
    font-family: ivypesto-display, serif;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 400;
    margin: 0 0 0 3.4rem;
  }
}

@media(min-width: 1025px) and (max-width: 1200px) {
  .find-a-retailer-parent {
    width: 100%;
    height: 15rem;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 8rem 0 0 0;

    .description {
      width: 30%;
      height: 4rem;
      font-size: 1.06rem;
      font-family: rubik, sans-serif;
      color: rgba(0, 0, 0, 0.74);
      margin: 0 0 0 3.4rem;
    }
  }

  .find-a-retailer-parent h1 {
    font-size: 3rem;
    font-family: ivypesto-display, serif;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 400;
    margin: 0 0 0 3.4rem;
  }
}

@media(min-width: 769px) and (max-width: 1024px) {
  .find-a-retailer-parent {
    width: 100%;
    height: 15rem;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 8rem 0 0 0;

    .description {
      width: 50%;
      height: 4rem;
      font-size: 1.06rem;
      font-family: rubik, sans-serif;
      color: rgba(0, 0, 0, 0.74);
      margin: 0 0 0 3.4rem;
    }
  }

  .find-a-retailer-parent h1 {
    font-size: 3rem;
    font-family: ivypesto-display, serif;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 400;
    margin: 0 0 0 3.4rem;
  }
}

@media(min-width: 320px) and (max-width: 480px) {
  .find-a-retailer-parent {
    width: 100%;
    height: 20rem;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 8rem 0 0 0;

    .description {
      width: 30%;
      height: 4rem;
      font-size: 1.09rem;
      font-family: rubik, sans-serif;
      color: rgba(0, 0, 0, 0.74);
      margin: 0 0 0 3.4rem;
    }
  }

  .find-a-retailer-parent h1 {
    font-size: 4rem;
    font-family: ivypesto-display, serif;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 400;
    margin: 0 0 0 3.4rem;
  }
}